.answer{
    display:flex;
    background:aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.fix{
    pointer-events: none;
}
.box{
    font-size: 25px;
    font-weight: bold;
    width: 500px;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
}